<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet type="text/css" href="song.css">
</head>

<div class="card">
  <h1>簡介</h1>
  <h2>Call 技解說</h2>
  <p class = "lyrics">以下將以<span class = "dacall">一個小節四拍</span>為基礎進行動作講解。</p>
  <p class = "lyrics">2拍 (·Pan! ·Pan!)<br>隨著歌曲節奏在<span class = "dacall">偶數拍點時</span>揮動螢光棒,揮舞時的高度大約跟<span class = "dacall">頭部</span>等高。</p>
  <p class = "lyrics">4拍 (Pan! Pan! Pan! Pan!)<br>隨著歌曲節奏在<span class = "dacall">每一個拍點</span>都揮動螢光棒,揮舞時大約與<span class = "dacall">胸部</span>同高。</p>
  <p class = "lyrics">2H (·Hey! ·Hey!)<br>2拍的變化型,在<span class = "dacall">偶數拍點上</span>除了揮舞螢光棒外,同時喊出「<span class = "dacall">Hey!</span>」
  <p class = "lyrics">長揮<br>跟著旋律的速度將螢光棒<span class = "dacall">由下往上慢慢舉高</span>,一般來說是以<span class = "dacall">二拍</span>或<span class = "dacall">四拍</span>的速度進行長揮。</p>
  <p class = "lyrics">FuFuu!<br>在一節的最後一拍快速舉起螢光棒揮兩下並喊出「<span class = "dacall">FuFuu!</span>」<br>根據歌曲的狀況也會有連續好幾個<span class = "dacall">FuFuu!</span>連續技的情況。</p>
  <p class = "lyrics">FuwaFuwa!<br>在一節的最後一拍舉起發光棒做出旋轉的動作並喊出「<span class = "dacall">FuwaFuwa!</span>」<br><span class = "dacall">常常和FuFuu!接在一起用在副歌的段落當中</span>,可以參考《お願い！シンデレラ》的副歌部</p>
  <p class = "lyrics">警報 (Hi~ Hi~ Hi Hi Hi Hi)<br>這個動作會持續兩個小節,喊出<span class = "dacall">2個兩拍的Hi</span>後再連續噴出<span class = "dacall">4個一拍的Hi</span>,同時不要忘記揮動螢光棒。<br>警報開始前通常會有經驗老道的製作人大喊「<span class = "dacall">せーの</span>」聽到這聲再跟上即可。</p>
  <p class = "lyrics">PH (Woo~Hey!)<br>一節中的<span class = "dacall">前三拍</span>將螢光棒舉在胸前並發出「<span class = "dacall">Woo~</span>」的長音,然後在<span class = "dacall">第四拍</span>高舉螢光棒大喊 「<span class = "dacall">Hey!</span>」<br>這動作常常接在警報之後,常見的連續技是<span class = "dacall">警報→PH→2拍</span>。</p>
  <h2><a href="https://goo.gl/gT9YTs">專案簡報</a></h2>
</div>

</body>