<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet type="text/css" href="song.css">
</head>

<body style="">
  <div class="card">
    <h1 class = "cute">S(mile)ING</h1>
    <h2 class = "cute">
        作詞：NBSI(八城雄太)<br>
        作曲，編曲：NBSI(Yoshi)<br>
        唄：大橋彩香(島村卯月役)</h2>
    <p class = "lyrics">二拍：憧れてた場所を　ただ遠くから見ていた<span class = "dacall">（はっしー）</span></p>    
    <p class = "lyrics">二拍：隣に並ぶ　みんなは　まぶしく　きらめく　ダイアモンド</p>
    <br>
    <p class = "lyrics">二拍：スポットライトに　Dive！<span class = "dacall">（Dive！）</span>　私らしさ　光る　Voice！<span class = "dacall">（Voice！）</span></p>
    <p class = "lyrics">二拍：聞いてほしいんだ　おっきな夢とメロディ</p>
    <br><br>
    <p class = "lyrics">二拍：さあ　クヨクヨに　今　サヨナラ</p>
    <br><br>
    <p class = "lyrics">二拍：Go！<span class = "dacall">（Go！）</span>もうくじけない　もっと光ると誓うよ</p>
    <p class = "lyrics">二拍：未来にゆびきりして</p>
    <br><br>
    <p class = "lyrics">二拍：Fly！<span class = "dacall">（Fly！）</span>「今さら　なんてない</p>
    <p class = "lyrics">二拍：ずっと　Smiling！Singing！Dancing！All my love！<span class = "dacall">（All my love！）</span></p>
    <p class = "lyrics">二拍：ゆっくりでもいいよ　でも歩き続けるんだ<span class = "dacall">（はっしー）</span></p>
    <p class = "lyrics">二拍：今はまだ　真っ白だけど　見てほしい　知ってほしい　みんなに</p>
    <br>
    <p class = "lyrics">二拍：フラッシュの中　Pose！<span class = "dacall">（Pose！）</span>　私らしく　光れ　Choice！<span class = "dacall">（Choice！）</span></p>
    <p class = "lyrics">二拍：伝えたいんだ　ちっちゃなこだわりがラブ</p>
    <p class = "lyrics">二拍：ほら　カラフルに　今　ヨロシク</p>
    <br><br>
    <p class = "lyrics">二拍：Shoot！<span class = "dacall">（Shoot！）</span>きめるしかない　きっと　主役を掴む</p>
    <p class = "lyrics">二拍：チャンスにウインクをして</p>
    <br><br>
    <p class = "lyrics">二拍：Move！<span class = "dacall">（Move！）</span>「やり過ぎ」なんてない</p>
    <p class = "lyrics">二拍：もっと　Dreaming！Hoping！For my future！<span class = "dacall">（future！）</span></p>
    <p class = "lyrics">間奏：（Hi x 16）</p>
    <p class = "lyrics">長揮：憧れじゃ終わらせない　一歩　近づくんだ　さあ　今</p>
    <br>
    <p class = "lyrics">二拍：Bye！<span class = "dacall">（Bye！）</span>涙はいらない　明日の笑顔　願おう</p>
    <p class = "lyrics">二拍：努力にキスをして</p>
    <br>
    <p class = "lyrics">二拍：Hey！<span class = "dacall">（Hey！）</span>「ありえない」なんてない</p>
    <p class = "lyrics">二拍：もっと　Dreaming！Hoping！For my future！<span class = "dacall">（future！）</span></p>
    <p class = "lyrics">二拍：Rise！<span class = "dacall">（Rise！）</span>もう諦めない　昨日　凹んで寝込んだ</p>
    <p class = "lyrics">二拍：自分とゆびきりして</p>
    <br>
    <p class = "lyrics">二拍：Live！<span class = "dacall">（Live！）</span>「おしまい」なんてない</p>
    <p class = "lyrics">二拍：ずっと　Smiling！Singing！Dancing！All my ...！</p>
    <p class = "lyrics">二拍：愛をこめて　ずっと　歌うよ！</p>
  </div>

</body>

</html>