<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet type="text/css" href="song.css">
</head>

<body>
    <div class="card">
        <h1 class = "passion">ミツボシ☆☆★</h1>
        <h2 class = "passion">
            作詞：BNSI（八城雄太）<br>
            作曲：BNSI（kyo）<br>
            唄：原紗友里（本田未央役）</h2>
        <p class = "lyrics">無拍：燃やせ友情パッションは　ミツボシ☆☆★！</p>
        <p class = "lyrics">間奏：<span class = "dacall">（Hi　x　16）</span></p>
        <p class = "lyrics">二拍：悩みごと　尽きない時代だ<span class = "dacall">（なんて時代だ）</span>　そばにいてくれる　友達に感謝</p>
        <p class = "lyrics">二拍：どんなときも　仲間がいるから<span class = "dacall">（まけぬから）</span></p>
        <p class = "lyrics">二拍：そんな照れちゃうこと　真顔で言えちゃう<span class = "dacall">（燃えろ友情パッション）</span></p>
        <p class = "lyrics">PH：夢に夢見た大フライト</p>
        <p class = "lyrics">2H：手を繋いだら大気圏突入も怖くない！</p>
        <p class = "lyrics">四拍：ミツボシ☆☆★→パッて弾けて　飛び乗って流星<span class = "dacall">（流星）</span></p>
        <p class = "lyrics">四拍：君と夢と愛を目指し行くよ　今すぐ！</p>
        <p class = "lyrics">四拍：ミツボシ☆☆★＝揃って光って　眩しいって　you　say? <span class = "dacall">（you　say！）</span></p>
        <p class = "lyrics">四拍：前を向いてノンストップ＆ダッシュ！　走れミツボシ☆☆★！</p>
        <p class = "lyrics">四拍：届け純情キュートで　クールな世代っ！</p>
        <p class = "dacall">　　（届け純情キュートで　クールな世代っ！）</p>
        <p class = "lyrics">四拍：燃やせ友情　パッションは　ミツボシ☆☆★！！</p>
        <p class = "dacall">　　（燃やせ友情　パッションは　ミツボシ☆☆★！！）</p>
        <p class = "lyrics">間奏：<span class = "dacall">（Hi　x　16）</span></p>
        <p class = "lyrics">二拍：仲良きことは美しいけど　それでも絶対　負けたくないから<span class = "dacall">（まさに波瀾万丈）</span></p>
        <p class = "lyrics">PH：火花散らして　大パレード</p>
        <p class = "lyrics">2H：もう遠慮はしない　スペースオペラが始まるよっ！</p>
        <p class = "lyrics">四拍：ミツボシ☆☆★→ガチって泣いてぶつかって友情！<span class = "dacall">（友情！）</span></p>
        <p class = "lyrics">四拍：悔し涙　嬉し涙　全部がお宝！</p>
        <p class = "lyrics">四拍：ミツボシ☆☆★＝ぎゅってシチュって</p>
        <p class = "lyrics">四拍：恥ずかしいって　you　know?<span class = "dacall">（you　know？）</span></p>
        <p class = "lyrics">四拍：地固まってレイニー＆サンシャイン　行くぞミツボシ☆☆★！！</p>
        <p class = "lyrics">間奏：<span class = "dacall">（Hi　x　24）</span></p>
        <p class = "lyrics">四拍：君がくれた勇気にありがとう　隣に並ぶみんなの笑顔に感謝</p>
        <p class = "lyrics">無拍：ミツボシ☆☆★　やっと出会えた　鳴り響く　歓声<span class = "dacall">（Ｙｅａｈ！）</span></p>
        <p class = "lyrics">四拍：夜空中の　流星に　夢を　宣誓っ！</p>
        <br>
        <p class = "lyrics">四拍：ミツボシ☆☆★＝願って頑張って　叶えちゃえって　can　say!<span class = "dacall">（can　say!）</span></p>
        <p class = "lyrics">四拍：上を目指しチャージ＆ハイジャンプ！翔けるミツボシ☆☆★！！！</p>
        <br>
        <p class = "lyrics">四拍：届け純情キュートで　クールな世代っ！</p>
        <p class = "dacall">　　（届け純情キュートで　クールな世代っ！）</p>
        <p class = "lyrics">四拍：燃やせ友情　パッションは　ミツボシ☆☆★！！</p>
        <p class = "dacall">　　（燃やせ友情　パッションは　ミツボシ☆☆★！！）</p>

    </div>
</body>
</html>