<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet type="text/css" href="song.css">
</head>

<body>
    <div class="card">
        <h1 class = "lyrics">『お願い！シンデレラ』</h1>
        <h2 class = "lyrics">
            作詞：marhy<br>
            作曲・編曲：NBSI</h2>
        <p class = "lyrics">
            長揮：お願い！ シンデレラ 夢は夢で終われない<br>
            <br><br>
            長揮：動き始めてる 輝く日のために<span class = "dacall">（YA!~~）</span><br>                
            <span class = "dacall">（Hey!x10） （fuufu）</span><br>
            <br><br>
            二拍：エヴリデイ どんなときも キュートハート 持ってたい<span class = "dacall">（キュート）</span><br><br>                
            二拍：ピンチもサバイバルも クールに越えたい<span class = "dacall">（クール）</span><br><br>                
            二拍：アップデイト 無敵なパッション くじけ心 更新<span class = "dacall">（パッション）</span><br><br>                
            二拍：私に出来ることだけを 重ねて<span class = "dacall">（警報）</span><br><br>                
            PH ：魔法が解けない様に<br><br>
            <br>
            2H ：リアルなスキル 巡るミラクル 信じてる<span class = "dacall">（信じてる）</span><br><br>
            四拍：お願い！<span class = "dacall">（FuFuu）</span> シンデレラ<span class = "dacall">（FuFuu）</span> 夢は夢で終われない<span class = "dacall">（Fuwax4）</span><br><br>
            四拍：叶えるよ<span class = "dacall">（FuFuu）</span> 星に願い<span class = "dacall">（FuFuu）</span>をかけたなら<span class = "dacall">（hey!hey!Fuwa x4）</span><br><br>                 
            四拍：みつけよう！<span class = "dacall">（FuFuu）</span> My Only Star<span class = "dacall">（FuFuu）</span> まだまだ小さいけど<span class = "dacall">（Fuwax4）</span><br><br>
            二拍：光り始めてる 輝く日のために<span class = "dacall">（Woo~~Fu．Fuu!）</span><br><br>
            間奏：<span class = "dacall">（Hi x16）</span><br><br>
            <br>
            無拍：ときどき落ち込んじゃって 逃げ出したくなったり<span class = "dacall">（キュート）</span><br><br>
            <br>
            無拍：チャンスもオーディションも掴めなかったり<span class = "dacall">（しゅん..）</span><br><br>                
            二拍：そのとき 君の笑顔 私のパワーになって<span class = "dacall">（ハピハピ）</span><br><br>            
            二拍：もう一度 頑張れる勇気くれるの<span class = "dacall">（警報）</span><br><br>
            PH ：裸足でスタートしても<br><br>
            <br>
            2H ：繰り返すバトル 届けスマイル 忘れない<span class = "dacall">（忘れない）</span><br><br>
            四拍：誰もが<span class = "dacall">（FuFuu）</span> シンデレラ<span class = "dacall">（FuFuu）</span> 夢から今目覚めて<span class = "dacall">（Fuwax4）</span><br><br>
            四拍：はじまるよ<span class = "dacall">（FuFuu）</span> 新たなストー<span class = "dacall">（FuFuu）</span>リー描いたら<span class = "dacall">（hey!hey!Fuwa x4）</span><br><br>                  
            四拍：掴もう！<span class = "dacall">（FuFuu）</span> My Only Star<span class = "dacall">（FuFuu）</span> まだまだ遠くだけど<span class = "dacall">（Fuwa x4）</span><br><br>
            二拍：光降り注ぐ 明日へ向かうために<span class = "dacall">（Woo~~Fu．Fuu!）</span><br><br>
            長揮：世界に たった一つだけの マイライフ<br><br>
            長揮：誰にも出来ない事があるよ<br><br>
            四拍：憧れだけじゃ らしくないから この手を伸ばそう<span class = "dacall">（YA~~~）</span><br><br>            
            間奏：<span class = "dacall">（Hi x26）</span><br><br>
            <br>
            長揮：心に シンデレラ 私だけじゃ始まんない<br><br>
            <br>
            長揮：変われるよ 君の願いとリンクして<span class = "dacall">（hey!hey!Fuwa x4）</span><br><br>
            誰かを<span class = "dacall">（FuFuu）</span> 照らせるスター☆<span class = "dacall">（FuFuu）</span> いつかなれますように…<span class = "dacall">（Fuwa x4）</span><br><br>
            二拍：動き始めてる 輝く日のために<span class = "dacall">（もう一回）</span><br><br>            
            四拍：お願い！<span class = "dacall">（FuFuu）</span> シンデレラ<span class = "dacall">（FuFuu）</span> 夢は夢で終われない<span class = "dacall">（Fuwax4）</span><br><br>
            四拍：叶えるよ<span class = "dacall">（FuFuu）</span> 星に願い<span class = "dacall">（FuFuu）</span>をかけたなら<span class = "dacall">（hey!hey!Fuwa x4）</span><br><br>                 
            四拍：みつけよう！<span class = "dacall">（FuFuu）</span> My Only Star<span class = "dacall">（FuFuu）</span> まだまだ小さいけど<span class = "dacall">（Fuwax4）</span><br><br>
            二拍：涙のあとにはまた笑って<span class = "dacall">（FuFuu）</span> スマートにね<span class = "dacall">（FuFuu）</span> でも可愛く<span class = "dacall">（Fu．Fuu!）</span><br><br>                  
            長揮：進もう！<br>
        </p>
    </div>
</body>

</html>
