<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet type="text/css" href="song.css">
</head>

<body>
    <div class="card">
        <h1 class = "lyrics">BEYOND THE STARLIGH</h1>
        <h2 class = "lyrics">
            作詞:八城雄太<br>
            作曲・編曲：石濱翔（MONACA）</h2>
        <p class = "lyrics">
            長揮：誰よりも光れ！ この世界 ただ一つの MY STAR （3, 2, 1, Fight!）<span class = "dacall">（3, 2, 1, Fight!）</span><br><br>            
            間奏<span class = "dacall">（HI x 12 FuFu FuFu FuFu FuFu）</span><br><br>
            二拍：失敗したっていいさ<span class = "dacall">（いいさ）</span> 挑戦しなくちゃ始まんない<span class = "dacall">（始まんない）</span>
            二拍：夢中になって ガムシャラ<span class = "dacall">（シャラ）</span> 奏でようメロディ<br><br>            
            無拍：<span class = "dacall">（見つけたい 見つけたい）</span>青春全部かけたって<br><br>            
            無拍：<span class = "dacall">（出会いたい 出会いたい）</span>イイって思えるようなナニカ<br><br>           
            無拍：探してるよ いつでも <span class = "dacall">（Starlight!）</span><br><br>            
            二拍：誰よりも光れ！この世界に刻みたい<br><br>
            <br>
            二拍：生きている証 <span class = "dacall">（Fight! Fight! Fight!）</span><br><br>
            二拍：ゴールは無い世界 妥協はしない<br><br>
            二拍：走れ<span class = "dacall">（走れ）</span>走れ<span class = "dacall">（走れ）</span>前を<span class = "dacall">（前を）</span>向いて<span class = "dacall">（向いて）</span><br><br>
            二拍：走れ！ TO BE A STAR! （3,2,1, Fight!）<span class = "dacall">（3,2,1, Fight!）</span><br><br>
            <br>
            間奏<span class = "dacall">（Hi x 12）</span><br><br>
            <br>
            長揮：全力で楽しもうよ<span class = "dacall">（もうよ）</span> 好きこそ何でも上手なれ<span class = "dacall">（上手なれ）</span><br><br>             
            長揮：本気になって ハチャメチャ<span class = "dacall">（メチャ）</span> 紡ごうメモリー<br><br>            
            無拍：<span class = "dacall">（自分次第 自分次第）</span>全部 自分次第なんだ<br><br>
            無拍：<span class = "dacall">（やるっきゃない やるっきゃない）</span>やりたい事 やりたいだけ<br><br>
            無拍：やらなきゃだね 人生<span class = "dacall">（Starlight!）</span><br><br>
            二拍：誰よりも光れ！胸はって好きって言える<br><br>
            <br>
            二拍：自分でいたいよ <span class = "dacall">（Fight! Fight! Fight!）</span><br><br>
            二拍：答えは無い世界 でも夢がある<br><br>
            <br>
            二拍：走れ<span class = "dacall">（走れ）</span>走れ<span class = "dacall">（走れ）</span>遥か<span class = "dacall">（遥か）</span>先へ<span class ="dacall">（先へ）</span><br><br>
            二拍：走れ！<br><br>
            長揮：TO BE A STAR!<br><br>
            長揮：譲りたくなんかない どんな世界も頂点は一つしかない<br><br>
            長揮：そうして ぶつかって火花が散って つながって星座になって<br><br>
            <br>
            長揮：永遠に語り継がれる僕らの神話（ファンタジー）<br><br>
            <br>
            間奏<span class = "dacall">（Hi x 30）</span>
            長揮：誰よりも光れ 誰よりも強く光れ…！ <span class = "dacall">（Starlight!）</span>
            二拍：誰よりも光れ！この世界に刻みたい<br><br>
            <br>
            二拍：生きている証 <span class = "dacall">（Fight! Fight! Fight!）</span><br><br>
            二拍：ゴールは無い世界 妥協はしない<br><br>
            二拍：走れ<span class = "dacall">（走れ）</span>走れ<span class = "dacall">（走れ）</span>前を<span class = "dacall">（前を）</span>向いて<span class = "dacall">（向いて）</span><br><br>
            二拍：走れ！ TO BE A STAR! （3,2,1, Fight!）<span class = "dacall">（3,2,1, Fight!）</span><br><br>
            
        </p>
    </div>
</body>

</html>