<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet type="text/css" href="song.css">
</head>

<body>
    <div class="card">
        <h1 class = "lyrics">Yes! Party Time!!</h1>
        <h2 class = "lyrics">
            作詞・作曲：俊龍<br>
            編曲：Sizuk</h2>
        <p class = "lyrics">
            （Yes Party! Time!!）<br><br>
            （Yes Golden Time!!）<br><br>
            進曲子前：<span class = "dacall">（FuFuFuFuFuu!）</span><br><br>
            四拍：揺らせ激しく<span class = "dacall"> Heart Beat!</span> 君の <span class = "dacall">Emotion!</span><br><br>
            四拍：さらけ出せたら無敵だね<span class = "dacall">（Fuwa×4）</span><br><br>
            四拍：歌おう Singing!<span class = "dacall">（Singing!）</span> 踊ろう Dancing!<span class = "dacall">（Dancing!）</span><br><br>                 
            無拍：こ <span class = "dacall">(Hey!)</span>・ こ<span class = "dacall">(Hey!)</span> ・ か<span class = "dacall">(Hey!)</span> ・ ら<span class = "dacall">(Hey!)</span> ちゃんと見てるよ!<span class = "dacall">（FuFuu!）</span><br><br>
            二拍：目と目が逢った時 始まるのは Love Story<span class = "dacall">（FuFuFuFuu!）</span><br><br>
                
            二拍：食い気味な気持ち持て余す Hey! Boy?<span class = "dacall">（Hey! Boy!）</span><br><br>                
            二拍：Right now! <span class = "dacall">（Right now!）</span>聞かせて Right here!<span class = "dacall">（Right here!）</span> 私に<br><br>
            二拍：勝負のコスチューム迷ってる Hey! Girl?<span class = "dacall">（Hey! Girl!）</span><br><br>
            二拍：Right now!<span class = "dacall">（Right now!）</span> Call して Right here! <span class = "dacall">（Right here!）</span>あいつに<br><br>
            二拍：いい子を脱ぎ捨て 輝く夜に繰り出そう<br><br>
            ＰＨ：ネオンの中で泳ぐ 熱帯魚のように今日こそ<span class = "dacall">（Hey! x 4）</span><br><br>
            無拍：いつもより<span class = "dacall">（FuFuu!&拍手）</span>カラフルに<span class = "dacall">（FuFuu!&拍手）</span><br><br>
            長揮：私を照らしてよ<br><br>
            長揮：まぶしいほど 赤裸々に<br><br>
            <br>
            二拍：Please!<span class = "dacall">（Hey!）</span> Please!<span class = "dacall">（Hey!）</span> Revolution!<span class = "dacall">（FuFuu!）</span>
            四拍：揺らせ激しく<span class = "dacall"> Heart Beat!</span> 君の <span class = "dacall">Emotion!</span><br><br>
            四拍：さらけ出せたら無敵だね<span class = "dacall">（Fuwa×4）</span><br><br>
            <br>
            四拍：歌おう Singing!<span class = "dacall">（Singing!）</span> 踊ろう Dancing!<span class = "dacall">（Dancing!）</span><br><br>                 
            無拍：こ <span class = "dacall">(Hey!)</span>・ こ<span class = "dacall">(Hey!)</span> ・ か<span class = "dacall">(Hey!)</span> ・ ら<span class = "dacall">(Hey!)</span> ちゃんと見てるよ!<span class = "dacall">（FuFuu!）</span><br><br>
            二拍：目と目が逢った時 始まるのは Love Story<span class = "dacall">（FuFuFuFuu!）</span><br><br>
            <br>
            （Don't Stop Music!!）<br><br>
            （Endless Music!!）<br><br>

            二拍：モニターごしに 指さした Hey!Boys!!<span class = "dacall">（Hey! Boy!）</span><br><br>
            二拍：Right Now!!<span class = "dacall">（Right now!）</span> 誰なの Right Here!!<span class = "dacall">（Right here!）</span> 目当ては<br><br>
            二拍：フェアリーとビースト 迷ってる Hey!Girls!!<span class = "dacall">（Hey!Girls!）</span><br><br>
            二拍：Right Now!!<span class = "dacall">（Right now!）</span> 両方 Right Here!!<span class = "dacall">（Right here!）</span> 選んじゃえ<br><br>
            二拍：欲張りなコでも 夢を見れる時代なの<br><br>
            PH：突然のストロボにフロアーの声が ハジける<span class = "dacall">（Hey! x 4）</span><br><br>
            無拍：ねぇもっと<span class = "dacall">（FuFuu!&拍手）</span> 話してよ<span class = "dacall">（FuFuu!&拍手）</span> 私の耳もとで<br><br>
            無拍：ニアミスは 許してあげる<br><br>
            <br>
            無拍：プリーズ！<span class = "dacall">（Hi）</span> プリーズ！！<span class = "dacall">（Hi）</span> チャンスでしょ！！！<span class = "dacall">（FuFuu!）</span><br><br>                  
            四拍：響け！みんなの <span class = "dacall">Heart Beat</span> アツい <span class = "dacall">Emotion</span><br><br>
            四拍：君をクギ付けにしたいの<span class = "dacall">（Fuwa×4）</span>                
            四拍：歌うよ <span class = "dacall">Singing</span> 踊るよ <span class = "dacall">Dancing</span>
            無拍：こ<span class = "dacall">(Hey!)</span>・よ<span class = "dacall">(Hey!)</span>・い<span class = "dacall">(Hey!)</span>・は<span class = "dacall">(Hey!)</span> 大胆でもいい？？<span class = "dacall">（FuFuu!）</span><br><br>

            無拍：声がうわずるけど 終わらないよ Crazy Night!!<span class = "dacall">（FuFuFuFuu!）</span><br><br>                
            二拍：<span class = "dacall">1・2・3・GO!</span><br><br>
            <span class = "dacall">（由舞台右至左 Wave + Hey! x 5）（Yeah!）</span><br><br>
            二拍：<span class = "dacall">もう一回!</span>
            <span class = "dacall">（由舞台左至右 Wave + Hey! x 5）（Yeah!）</span><br><br>
            長揮：バラードのあとには シングルメドレー<br><br>
            長揮：迎えに来ないで 最終ベル<br><br>
            長揮：胸のチャームがこうつぶやくの<br><br>
            長揮：まだまだ 一緒にいたい<span class = "dacall">（FuFuu!）</span><br><br>
            四拍：揺らせ激しく<span class = "dacall"> Heart Beat!</span> 君の <span class = "dacall">Emotion!</span><br><br>
            四拍：さらけ出せたら無敵だね<span class = "dacall">（Fuwa×4）</span><br><br>
            四拍：歌おう Singing!<span class = "dacall">（Singing!）</span> 踊ろう Dancing!<span class = "dacall">（Dancing!）</span><br><br>                 
            無拍：こ <span class = "dacall">(Hey!)</span>・ こ<span class = "dacall">(Hey!)</span> ・ か<span class = "dacall">(Hey!)</span> ・ ら<span class = "dacall">(Hey!)</span> ちゃんと見てるよ!<span class = "dacall">（FuFuu!）</span><br><br>
            二拍：目と目が逢った時 始まるのは Love Story<span class = "dacall">（FuFuFuFuu!）</span><br><br>
            （Yes Party! Time!!）<br><br>
            （Yes Golden Time!!）<br><br>
        </p>
    </div>
</body>

</html>